<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/welcome">Home</a></li>
        <li class="animals"><a class="active" href="/animals">View Animals</a></li>
        <li class="owners"><a href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>

<h2>Congratulations <%= @animal.name %> you're being adopted by ...</h2>

<form method="POST" action="/animals/<%= @animal.id %>/adopt" >

  <label for="owner">Select Owner: </label>
  <select id="owner-select" name="owner_id">

  <% @owners.each do |owner| %>
    <option value=<%= owner.id %>><%=owner.name%></option>
  <%end%>

  <input type="submit" value="Confirm Adoption" class="form_button"/>

</form>