<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/welcome">Home</a></li>
        <li class="animals"><a href="/animals">View Animals</a></li>
        <li class="owners"><a href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a class="active" href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>

<form method="POST" action="/animals/new">

<label for="name">Name: </label>
<input type="text"
id="name"
name="name" />

<label for="type">Type: </label>
<input type="text"
id="type"
name="type" />

<label for="breed">Breed: </label>
<input type="text"
id="breed"
name="breed" />

<label for="adoptable-select">Please Select: </label>

<select  
id="adoptable-select"
name="adoptable">

  <option value="Adoptable">Adoptable</option>
  <option value="Not-adoptable">Not-adoptable</option>
</select> 

<label for="admission_date">Admission Date (please use year-month-day format e.g. 2016-02-24): </label>
<input type="text"
id="admission_date"
name="admission_date" />

<label for="url">Please enter a link to a picture of the animal: </label>
<input type="text"
id="url"
name="url" />


<input type="submit" value="Confirm new animal" />



</form>