<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/welcome">Home</a></li>
        <li class="animals"><a href="/animals">View Animals</a></li>
        <li class="owners"><a href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a class="active" href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>

<hr>
<% @adoptions.each do |adoption| %>

<p><strong>Animal Name:</strong> <%= adoption.animal.name %></p>
<p><strong>Owner Name:</strong> <%= adoption.owner.name %></p>




<form method="POST" action="/animals/<%= adoption.animal.id %>/delete" >


  <input type="submit" value="Click to Delete Animal from Shelter Database" class="form_button"/>

</form>

<form method="POST" action="/adoptions/<%= adoption.id %>/delete" >


  <input type="submit" value="Click to Delete Entire Adoption Record from Shelter Database" class="form_button" />

</form>

<hr>

<% end %>