<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="title">Animal Shelter</div>
  
  <div class="navbar">
    <ul>
      <li>
        <a href="/animals">View the Animals</a>
       
      </li> 
      <li>
        <a href="/owners">View the Owners</a>
       
      </li>       
      <li>
        <a href="/owners/new">Add a New Owner</a>
        
      </li>   
      <li>
        <a href="/animals/new">Add a New Animal</a>
        
      </li>       
    </ul>
  </div>


  <%= yield %>

  <div class="image">
  <a href="/welcome"><img src="https://pbs.twimg.com/media/BTtJzHDCMAAGKBg.jpg:large"></a>
  </div>
  
</body>
</html>