<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="https://image.flaticon.com/icons/png/512/34/34668.png">
  <title>Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <h1>Animal Shelter Database</h1>
</head>
<body>




  <%= yield %>

  <div class="image">
  <a href="/welcome"><img src="http://www.mpcity.net/images/pages/N189/text8803.png"></a>
  </div>
  
</body>
</html>