<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="https://image.flaticon.com/icons/png/512/34/34668.png">
  <title>Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <h1>Welcome to the Animal Shelter Database</h1>
</head>
<body>




<!-- <div class="title">Animal Shelter</div>
  
  <div class="navbar">
    <ul>
      <li>
        <a href="/animals">View the Animals</a>
       
      </li> 
      <li>
        <a href="/owners">View the Owners</a>
       
      </li>       
      <li>
        <a href="/owners/new">Add a New Owner</a>
        
      </li>   
      <li>
        <a href="/animals/new">Add a New Animal</a>
        
      </li>   

      <li>
      <a href="/adoptions">Show all adoptions</a></a>

      </li>

    </ul>
  </div> -->


  <%= yield %>

  <div class="image">
  <a href="/welcome"><img src="http://www.mpcity.net/images/pages/N189/text8803.png"></a>
  </div>
  
</body>
</html>