<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/welcome">Home</a></li>
        <li class="animals"><a href="/animals">View Animals</a></li>
        <li class="owners"><a class="active" href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>


<form method="POST" action="/owners/<%= @owner.id %>" >
<label for="name">Name: </label>
<input type="text"
id="name"
value="<%= @owner.name %>"
name="name"/>


<label for="address">Address: </label>
<input type="text"
id="address"
value="<%= @owner.address %>"
name="address" />





<input type="submit" value="Update Owner" class="form_button"/>


</form>