<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/welcome">Home</a></li>
        <li class="animals"><a href="/animals">View Animals</a></li>
        <li class="owners"><a class="active" href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>


<div class="details">
<p>Name: <%= @owner.name %></p>


<p>Address: <%= @owner.address %></p> 


</div>
<hr /> 

<div class="navbar">
<p> <a href="/owners/<%= @owner.id %>/edit">Click to Update</a></p>

</div>

<form method="POST" action="/owners/<%= @owner.id %>/delete" >


  <input type="submit" value="Click to Delete Owner from Database" class="form_button"/>