<div class="details">
<p>Name: <%= @owner.name %></p>


<p>Address: <%= @owner.address %></p> 


</div>
<hr /> 

<div class="navbar">
<p> <a href="/owners/<%= @owner.id %>/edit">Click to Update</a></p>

<p> <a href="/owners/<%= @owner.id%>/delete">Click to Delete</a></p>
</div>
