<div class="details">
<p>Name: <%= @owner.name %></p>



<p>Address: <%= @owner.address %></p> 


</div>
<hr /> 



<form method="POST" action="/owners/<%= @owner.id %>/delete">

  <input type="submit" value="Click to delete"/>

</form>