<form method="POST" action="/owners/new">
<label for="name">Name: </label>
<input type="text"
id="name"
name="name"/>

<label for="pets">Pet: </label>
<input type="text"
id="pet"
name="pet" />





<input type="submit" value="Confirm New Owner" />


</form>