<% @owners.each do |owner| %>

<p>Owner Name: <%= owner.name %></p>
<p>Address: <%= owner.address %></p>

  <div class="navbar">
<p> <a href="/owners/<%= owner.id %>">Show Full Details</a> </p> 
  </div>

   

<% end %>