<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/welcome">Home</a></li>
        <li class="animals"><a href="/animals">View Animals</a></li>
        <li class="owners"><a class="active" href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>


<% @owners.each do |owner| %>

<p><strong>Owner Name:</strong> <%= owner.name %></p>
<p><strong>Address:</strong> <%= owner.address %></p>

  <div class="navbar">
<p> <a href="/owners/<%= owner.id %>">Show Full Details</a> </p> 
<hr>

   

<% end %>